p, h1, h2, h3, h4, h5, h6, label{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
span{
  font-family: Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
}
#btn-icon{
  margin-right: 0.4rem;
}
input[type=text], select, textarea{
  border: none;
  font-size: 1rem;
  letter-spacing: 1px;
  color: rgb(79, 78, 78);
  font-weight: 600;
  padding: 0.4rem 0.7rem;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  border: 3px solid rgba(255, 255, 255, 0.468);
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
input[type=text]:focus, select:focus, textarea:focus{
  border: 3px solid rgba(96, 59, 244, 0.71);
}
input[type=text]::placeholder, select::placeholder, textarea::placeholder{
  font-size: 0.8rem;
}
textarea{
  resize: vertical;
  min-height: 7rem;
  max-height: 13rem;
}
button{
  border: none;
  border-radius: 10px;
  font-size: 0.9rem;
  padding: 0.4rem 0.9rem;
  background-color: rgb(63, 63, 250);
}
button a{
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}
button:hover{
  cursor: pointer;
  background-color: rgb(16, 16, 249);
  /* box-shadow: 0px 0px 10px 4px rgba(128, 128, 128, 0.736); */
  transition: .6s;
}
.top{
  background-color: red;
  width: 100%;
  /* display: none; */
}
video{
  margin: -8px;
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* width */
.static-sidebar::-webkit-scrollbar ,
.add-new-item .container::-webkit-scrollbar,
 .inbox .container::-webkit-scrollbar, 
 .detail .container  .chat-container::-webkit-scrollbar ,
 .draft-main .container::-webkit-scrollbar ,
  .container .table::-webkit-scrollbar {
    /* width: 7px; */
    scroll-behavior: smooth;
    display: none;
  }
  
  /* Track */
  .static-sidebar::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    border-radius: 10px;
  }
   
  /* Handle */
  .static-sidebar::-webkit-scrollbar-thumb {
    background: rgb(182, 250, 25); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .static-sidebar::-webkit-scrollbar-thumb:hover {
    background: #f19711; 
    cursor: pointer;
  }