p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-family: 'Raleway', sans-serif;

}
.main{
  background-color: #F4F6F9;
}
video{
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* width */
.static-sidebar::-webkit-scrollbar {
    width: 7px;
    display: none;
  }
  
  /* Track */
  .static-sidebar::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    border-radius: 10px;
  }
   
  /* Handle */
  .static-sidebar::-webkit-scrollbar-thumb {
    background: rgb(182, 250, 25); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .static-sidebar::-webkit-scrollbar-thumb:hover {
    background: #f19711; 
    cursor: pointer;
  }