


/* STATIC SIDEBAR  */
.static-sidebar{
    border-radius: 25px;
    background-image: linear-gradient(to bottom, rgba(231,238,241,0.6), rgba(213,233,240,0.3));
    max-height: 100%;
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding:0 0.5rem;
    box-sizing: border-box;
}
.profile{
    display: flex;
    align-items: center;
    padding:1.2rem 0.7rem;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(81, 81, 81,0.3);
}
.profile > div:nth-child(1) img{
    width: 50px;
    height: 50px;
    border: 3.5px solid white;
    border-radius: 50%;
}
.profile > div:nth-child(2){
    /* background-color: orange; */
    display: flex;
    margin-left: 0.7rem;
    flex-direction: column;
}
.static-sidebar .section{
    display: flex;
    padding: 1.5rem 0.7rem;
    flex-direction: column;
    /* background-color: white; */
    border-bottom: 1px solid rgba(81, 81, 81,0.3);
    gap: 1rem;
}
.static-sidebar .section .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.static-sidebar .section .head #toogle-all{
    font-size: 1.1rem;
}
.static-sidebar .section .head #toogle-all:hover{
    cursor: pointer;
    transition: 0.6s;
    color: rgb(173, 113, 0);
}
.menu{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.menu:hover{
    cursor: pointer;
}
.menu .notify{
    background-color: red;
    color: white;
    padding: 0.2rem;
    width: 1rem;
    display: flex;
    justify-content: center;
    height: 1rem;
    font-size: 0.7rem;
    border-radius: 50%;
    font-weight: bold;
}
.menu .sub-menu{
    display: flex;
    margin-top: 0.5rem;
    flex-direction: column;
    padding-left: 2rem;
    box-sizing: border-box;
}
.menu .sub-menu h4{
    margin: 0.4rem 0;
    width: 100%;
    text-align: left;
    color: rgb(55, 55, 55);
}
.menu .sub-menu h4:hover{
    color: black;
}
.menu > div  {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.menu > div > div {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}
.menu > div > div #icon{
    font-size: 1.3rem;
}
.static-sidebar .section .card{
    border-radius: 15px;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    gap: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.static-sidebar .section .card > div{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    color: rgb(67, 67, 67);
}

.static-sidebar .section .card > div h3{
    font-size: 1.1rem;
}
.static-sidebar .section .card > div h3:hover{
    color: black;
    cursor: pointer;
}
.static-sidebar .section .settings{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.static-sidebar .section .theme-container{
    justify-content: center;
}
.static-sidebar .section .settings .color-theme{
    width: 2.5rem;
    height: 1.5rem;
    border: 2px solid transparent;
    border-radius: 4px;
}
.static-sidebar .section .settings .dark{
    background-image: linear-gradient(135deg, rgb(32, 32, 32),rgb(52, 52, 52), rgb(110, 106, 106));
}
.static-sidebar .section .settings .deepBlue{
    background-image: linear-gradient(135deg, rgb(43, 47, 114),rgb(53, 58, 142), rgb(92, 99, 195));
}
.static-sidebar .section .settings .orange{
    background-image: linear-gradient(135deg, rgb(253, 168, 11),rgb(251, 187, 69), rgb(251, 213, 143));
}
.static-sidebar .section .settings .light{
    background-image: linear-gradient(135deg, rgb(189, 189, 189),rgb(224, 224, 224), rgb(255, 255, 255));
}
.static-sidebar .section .settings .color-theme:hover{
    cursor: pointer;
    box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.75);
    transition: 0.6s;
}


/* DASHBOARD  */
.dashboard-main{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: auto;
    padding: 0 0.7rem;
    box-sizing: border-box;
}
.dashboard-main .header{
    background-color: rgb(11, 183, 120);
    color: white;
    display: flex;
    padding: 1rem;
    height: 10rem;
    border-radius: 10px;
    box-sizing: border-box;
    flex-direction: column;
}
.dashboard-main .header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dashboard-main .header h1{
    font-size: 1.6rem;
    width: 70%;
    line-height: 38px;
    letter-spacing: 2.3px;
}
.dashboard-main .header p{
    font-size: 1.2rem;
    margin-top: 0.9rem;
    line-height: 32px;
    letter-spacing: 2px;
}
.dashboard-main .nevbar{
    display: flex;
    align-items: center;
    gap: 2.5rem;
    padding: 0.7rem ;
    padding-left: 1rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.395);
    box-sizing: border-box;
    margin: 0.8rem 0;
}
.dashboard-main .nevbar > a {
    display: flex;
    user-select: none;
    color: rgb(147, 147, 147);
}

.dashboard-main .nevbar .active{
    color: rgb(67, 67, 67);
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: rgb(67, 67, 67);
}
.dashboard-main .nevbar > div:hover {
    cursor: pointer;
    color: rgb(92, 92, 92);
    transition: 0.5s;
}
.dashboard-main .nevbar .active p{
    color: rgb(32, 32, 32);
}
.dashboard-main .nevbar > div p{
    font-weight: 600;
    user-select: none;
    letter-spacing: 1px;
    color: rgb(147, 147, 147);
}
.dashboard-main .nevbar > div p:hover{
    color: rgb(86, 86, 86);
    transition: 0.5s;
}
.dashboard-home{
    /* background-color: red; */
    padding:0.7rem 0;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.dashboard-home .card-container{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.dashboard-home .card-container > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 23%;
    height: fit-content;
    border-radius: 10px;
    padding: 1rem;
    box-sizing: border-box;
}
.dashboard-home .card-container > div:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 2px rgba(178, 177, 177, 0.685);
    transition: 0.6s;
}
.dashboard-home .card-container > div p{
    font-weight: 600;
    font-size: 0.9rem;
}
.dashboard-home .card-container > div span{
    font-size: 2.2rem;
}
.dashboard-home .card-container > div h2{
    margin-bottom: 0.8rem;
    margin-top: 1rem;
}
.dashboard-home .card-container > div:nth-child(1) {
    color: rgb(0, 86, 0);
    background-color: #C2F2C7;
}
.dashboard-home .card-container > div:nth-child(2) {
    color: rgb(0, 82, 86);
    background-color: #D0F2FE;
}
.dashboard-home .card-container > div:nth-child(3) {
    color: rgb(92, 52, 4);
    background-color: #FFF7CD;
}
.dashboard-home .card-container > div:nth-child(4) {
    color: rgb(145, 84, 10);
    background-color: #FEE7D9;
}
.dashboard-home .container{
    display: flex;
    margin: 1rem 0;
    border-radius: 15px;
    padding: 1rem;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.685);
}
.dashboard-home .container > div:nth-child(1){
    width: 75%;
}
.dashboard-home .container > div:nth-child(2){
    width: 35%;
    height: 30rem;
    max-height: 30rem;
    overflow: auto;
}


/* DASHBOARD CARDS UI */
.cards-main{
    max-width: 100%;
    /* background-color: red; */
    padding:0.7rem 0;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.cards-main .row{
    display: flex;
    max-width: 100%;
    overflow: auto;
    padding: 0.2rem 0;
    box-sizing: border-box;
    /* background-color: green; */
    gap: 2rem;
}
.cards-main .row-heading{
    /* background-color: red; */
    color: rgb(107, 107, 107);
    font-size: 1.5rem;
    margin: 1rem 0;
    user-select: none;
}


/* PREMIUM CARD UI */
.premium-card-UI{
    display: flex;
    flex-direction: column;
    width: 15rem;
    min-width: 15rem;
    backdrop-filter: blur(1px);
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 40px;
    align-items: center;
}
.premium-card-UI:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px rgba(192, 190, 190,0.6);
    transition: 0.6s;
}
.original-card{
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid rgb(237, 237, 237);
}
.red-card{
    background-color: rgba(255, 25, 25, 0.7);
    border: 2px solid rgba(255, 255, 255,0.5);
    color: white;
}
.green-card{
    background-color: rgba(0, 201, 90, 0.7);
    border: 2px solid rgba(0, 255, 47, 0.329);
}
.orange-card{
    background-color: rgba(255, 182, 12, 0.6);
    border: 2px solid rgba(255, 255, 255,0.5);
}
.yellow-card{
    background-color: rgba(251, 255, 12, 0.6);
    border: 2px solid rgba(255, 255, 255,0.5);
}
.blue-card{
    background-color: rgba(12, 130, 255, 0.6);
    border: 2px solid rgba(255, 255, 255,0.5);
}
.white-card{
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid rgba(255, 255, 255,0.5);
}
.red-card .underline{
    background-color: rgb(207, 0, 0) !important;
}
.green-card .underline{
    background-color: rgb(0, 169, 51) !important;
}
.blue-card .underline{
    background-color: rgb(22, 99, 215) !important;
}
.orange-card .underline{
    background-color: rgb(216, 142, 5) !important;
}
.premium-card-UI .underline{
    background-color: rgb(227, 227, 0);
    height: 3px;
    width: 100%;
    margin: 1rem 0;
}
.premium-card-UI .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.premium-card-UI h3{
    user-select: none;
}
.premium-card-UI .container h1{
    font-size: 3rem;
    color: rgb(71, 71, 71);
}
.premium-card-UI .container p{
    margin-top: 0.8rem;
}
.green-card .container h1, .orange-card .container h1, .red-card .container h1, .blue-card .container h1{
    color: white !important;
}
.green-card .container span,.red-card .container span, .orange-card .container span,.red-card .container span, .blue-card .container span{
    color: white !important;
}
.yellow-card .container span{
    color: rgb(152, 89, 89) !important;
}
.premium-card-UI .container span{
    color: rgb(161, 161, 161);
    margin: 1rem 0;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 0.8rem;
}
.premium-card-UI .container  ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.green-card .container ul li, .orange-card .container ul li, .red-card .container ul li,  .blue-card .container ul li{
    color: white !important;
}
.premium-card-UI .container  ul li{
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: rgb(92, 92, 92);
}
.premium-card-UI .container  ul li:hover{
    color: black;
    transition: 0.6s;
}
.premium-card-UI .container  button{
    margin: 1rem 0;
    background-color: #C68FFF;
    color: white;
    user-select: none;
    padding: 0.8rem 1.2rem;
}
.premium-card-UI .container  button:hover{
    background-color: #b878fc;
    transition: 0.6s;
}


/* MOST SOLD SELLS PRODUCTS LIST */
.most-sold{
    box-sizing: border-box;
    padding-top: 0.5rem;
}
.most-sold > div:nth-child(2){
    display: flex;
    flex-direction: column;
    margin-top: 0.4rem;
    gap: 1rem;
}
.most-sold > div:nth-child(1){
    display: flex;
    margin-bottom: 1rem;
    gap: 1rem;
    align-items: center;
}
.most-sold > div:nth-child(1):hover{
    cursor: pointer;
}
.most-sold > div:nth-child(1) h3{
    color: #0099ffc9;
    letter-spacing: 1.5px;
    cursor: pointer;
}
.most-sold > div:nth-child(1) p{
    color: #fa4545b7;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}
.most-sold > div:nth-child(1) p:hover{
    color: #ff0000c9;
}
.most-sold > div:nth-child(2) .sold-item-card{
    background-color: rgba(255, 255, 255, 0.647);
    padding: 0.4rem ;
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.most-sold > div:nth-child(2) .sold-item-card:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}
.most-sold > div:nth-child(2) .sold-item-card > div:nth-child(1){
    display: flex;
    align-items: center;
    gap: 1rem;
}
.most-sold > div:nth-child(2) .sold-item-card > div:nth-child(1) img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.most-sold > div:nth-child(2) .sold-item-card > div:nth-child(1) > div{
    display: flex;
    flex-direction: column;
}
.most-sold > div:nth-child(2) .sold-item-card > div:nth-child(1) > div p{
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: rgb(40, 40, 40);
}
.most-sold > div:nth-child(2) .sold-item-card > div:nth-child(1) > div p:nth-child(2){
    font-weight: normal;
    font-size: 1rem;
    margin-top: 0.7rem;
}
.most-sold > div:nth-child(2) .sold-item-card > div:nth-child(1) > div p:nth-child(2) span{
    margin-left: 2rem;
    font-size: 0.8rem;
    color: rgb(129, 127, 127);
}
.most-sold > div:nth-child(2) .sold-item-card > div:nth-child(2) p{
    color: rgb(142, 142, 142);
    font-size: 1.2rem;
}
.most-sold > div:nth-child(2) .sold-item-card > div:nth-child(2) p:hover{
    color: gray;
}


/* EMPTY PAGE MESSAGE */
.empty-page{
    /* background-color: red; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.empty-page h1{
    width: 75%;
    letter-spacing: 3px;
    line-height: 65px;
    text-align: center;
    user-select: none;
    animation-name: h1Text;
    animation-duration: 8s;
    font-size: 3rem;
    cursor: pointer;
    color: rgb(255, 98, 98);
}
.empty-page p{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    user-select: none;
    padding: 0.6rem 1rem;
    color: rgb(255, 62, 62);
    border: 1px solid rgba(255, 111, 111, 0.555);
    border-radius: 5px;
    box-sizing: border-box;
    font-weight: 700;
    animation-name: buttonText;
    animation-duration: 14s;
    background-color: rgba(247, 167, 167, 0.349);
}
.empty-page p:hover{
    cursor: pointer;
}


/* MESSAGE SECTION */
.message-main{
    padding:0 0.7rem;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: space-between;
}
.message-main .inbox{
    width: 29%;
    box-sizing: border-box;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}
.message-main .inbox .search input[type='text']{
    background-color: rgb(240, 239, 239);
    padding: 0.5rem 0;
    padding-left: 0.7rem;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 7px;
    border: 1.5px solid rgb(181, 181, 181);
    width: 100%;
    outline: none;
}
.message-main .inbox .search input[type='text']::placeholder{
    padding-left: 0.4rem;
    color: rgb(180, 180, 180);
}
.message-main .inbox .container{
    height: 100%;
    overflow-y: auto;
    margin-top: 0.9rem;
}
.message-main .inbox .container > div{
    display: flex;
    align-items: center;
    padding: 0.4rem 0;
    padding-left: 0.3rem;
    margin-bottom: 0.6rem;
    justify-content: space-between;
}

.message-main .inbox .container  .notify{
    color: rgb(71, 71, 255) !important;
    font-weight: 600;
}
.message-main .inbox .container > .active{
    cursor: pointer;
    background-color: rgba(255, 255, 255,0.5);
    border-radius: 10px 10px 10px 10px;
}
.message-main .inbox .container > div:hover{
    background-color: rgba(255, 255, 255,0.5);
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
    transition: 0.5s;
}
.message-main .inbox .container > div >:nth-child(1){
    display: flex;
    align-items: center;
}
.message-main .inbox .container > div >:nth-child(1) img{
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 50%;
}
.message-main .inbox .container > div >:nth-child(1) >div{
    margin-left: 0.8rem;
}
.message-main .inbox .container > div >:nth-child(1) >div p{
    font-weight: 600;
    color: rgb(67, 67, 67);
}
.message-main .inbox .container > div >:nth-child(1) >div span{
    font-size: 0.8rem;
    color: rgb(99, 99, 99);
}
.message-main .inbox .container > div >:nth-child(2){
    display: flex !important;
    align-items: center !important;
}
.message-main .inbox .container > div >:nth-child(2) span{
    background-color: rgb(40, 40, 248);
    color: white;
    border-radius: 20px;
    font-size: 0.7rem;
    padding: 0.2rem 0.4rem;
}
.message-main .inbox .container .no-record{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(255, 97, 97);
}
.message-main .inbox .container .no-record #no-record{
    font-size: 2rem;
}
.message-main .inbox .container h2{
    user-select: none;
    margin-top: 1rem;
    text-align: center;
}
.message-main .detail{
    width: 69%;
    border-radius: 25px;
    /* padding:0.7rem; */
    box-sizing: border-box;
}
.empty{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.empty h1{
    color: rgb(118, 118, 118);
    user-select: none;
    cursor: pointer;
}
.empty-order{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    overflow: auto;
}
.empty-order h1{
    color: rgba(77, 77, 77, 0.711);
    letter-spacing: 2px;
}
.empty-order p{
    color: rgba(111, 111, 111, 0.711);
    margin-top: 2rem;
    max-width: 75%;
    letter-spacing: 2px;
    line-height: 35px;
    font-size: 1.6rem;
    font-weight: bold;
}
.detail .container{
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}
.detail .container .header{
    display: flex;
    align-items: center;
    height: 8%;
    justify-content: space-between;
    border-bottom: 1px solid rgb(196, 196, 196);
    padding-bottom: 0.6rem;
}
.detail .container .header > div{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.detail .container .header > div:nth-child(1):hover{
    cursor: pointer;
}
.detail .container .header > div > div:nth-child(1){
    position: relative;
}
.detail .container .header > div > div:nth-child(1) .active{
    position: absolute;
    bottom: 1px;
    right: 3px;
    background-color: green;
    height: 12px;
    width: 12px;
    border-radius: 50%;
}
.detail .container .header > div img{
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 50%;
    resize: auto;
    padding: 0.1rem;
    border: 2px solid blue;
}
.detail .container .header > div > div{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.detail .container .header > div:nth-child(2) {
    gap: 2rem;
}
.detail .container .header > div:nth-child(2) #chat-icons{
    font-size: 1.4rem;
    color: rgb(53, 53, 254);
}
.detail .container .header > div:nth-child(2) #chat-icons:hover{
    cursor: pointer;
    color: blue;
    transition: 0.5;
}
.detail .container  .chat-container{
    height: 85%;
    overflow: scroll;
}
.detail .container  .chat-container > div span{
    background-color: rgba(220, 220, 220,0.5);
    border-radius: 25px;
    line-height: 26px;
    color: rgb(105, 105, 105);
    margin: 1rem 0;
    padding: 0.4rem 1rem;
    letter-spacing: 1px;
}
.detail .container  .chat-container > div span:hover{
    cursor: pointer;
}
.detail .container  .chat-container .left{
    display: flex;
    padding-right: 35%;
    box-sizing: border-box;
}
.detail .container  .chat-container .right {
    display: flex;
    padding-left: 35%;
    box-sizing: border-box;
    justify-content: right;
}
.detail .container  .chat-container .right span{
    background-color: rgba(187, 255, 187,0.6);
    display: flex;
    color: green;
    justify-content: right;
}

.detail .container  .send-input{
    width: 100%;
    max-height: 7%;
    position: relative;
}
.detail .container  .send-input  input[type='text']{
    width: 100%;
    padding: 0.7rem;
    box-sizing: border-box;
    border: none;
    color: rgb(52, 52, 52);
    outline: none;
    border-radius: 20px;
    font-size: 1.2rem;
    padding-left: 1.5rem;
    background-color: rgba(236, 236, 236,0.3);
}
.detail .container .send-input #send-icon{
    position: absolute;
    color: rgb(10, 113, 15) !important;
    top: 25%;
    padding-right: 1rem;
    font-size: 1.3rem;
    bottom: 0;
    right: 0;
}
.detail .container .send-input #send-icon:hover{
    cursor: pointer;
}


/* EMAIL UI */
.email-main{
    padding:0 0.7rem;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0.537); */
    border-radius: 25px;
    justify-content: space-between;
}
.email-main .inbox{
    width: 32%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.email-main .inbox .bar{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    gap: 1rem;
    position: relative;
}
.email-main .inbox .bar .active{
    color: rgb(171, 10, 171);
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
    text-decoration-color:rgb(171, 10, 171);    ;
}
.email-main .inbox .bar p{
    font-weight: bold;
    user-select: none;
    color: rgb(154, 154, 154);
}
.email-main .inbox .bar p:hover{
    cursor: pointer;
}
.email-main .inbox .bar span{
    position: absolute;
    right: 0;
    color: gray;
    font-size: 1.2rem;
}
.email-main .inbox .bar span:hover{
    cursor: pointer;
    color: rgb(84, 84, 84);
    transition: 0.5s;
}
.email-main .inbox .container{
    display: flex;
    flex-direction: column;
    /* background-color: orange; */
    height: 100%;
    max-height: 100%;
    overflow: auto;
}
.email-main .inbox .container > div {
    display: flex;
    border-radius: 7px;
    /* margin-top: 1rem; */
    padding:0.8rem 0.5rem ;
    height: fit-content;
    border-bottom: 1px solid rgb(181, 181, 181);
   
}
.email-main .inbox .container > .active {
    background-color: rgba(255, 255, 255, 0.485);
}
.email-main .inbox .container > div:hover {
    cursor: pointer;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.844);
    border-color: rgb(255, 255, 255);
}
.email-main .inbox .container > div > div:nth-child(1){
    padding: 0.6rem 0;
    box-sizing: border-box;
}
.email-main .inbox .container > div > div:nth-child(1) span{
    background-color: rgb(128, 0, 122);
    border-radius: 50%;
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
    padding: 0.60rem;
    user-select: none;
    text-transform: uppercase;
}
.email-main .inbox .container > div .body{
    width: 100%;
    padding: 0 0.4rem;
    box-sizing: border-box;
}
.email-main .inbox .container > div .body > div:nth-child(1) {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.email-main .inbox .container > div .body > div:nth-child(1) p{
    color: rgb(151, 151, 151);
    letter-spacing: 2px;
    font-weight: bold;
}
.email-main .inbox .container > div .body > div:nth-child(2) h3{
    margin-top: 0.2rem;
    color: rgb(53, 53, 53);
    letter-spacing: 2px;
}
.email-main .inbox .container > div .body > div:nth-child(3){
    display: flex;
    align-items: flex-end;
}
.email-main .inbox .container > div .body > div:nth-child(3) p{
    margin-top: 0.6rem;
    letter-spacing: 1.5px;
}
.email-main .inbox .container > div .body > div:nth-child(3) span{
    color: rgb(200, 198, 198);
}
.email-main .inbox .container > div .body > div:nth-child(3) span:hover{
    color: orange;
    transition: 0.5s;
}
.email-main .inbox .container > div .body > div:nth-child(3) .active{
    color: orange;
}
.email-main .inbox-body{
    width: 68%;
    /* border-radius: 25px; */
}


/* MESSAGE MODEL */
.message-modal{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* backdrop-filter: blur(2px); */
    top: 0;
    left: 0;
}
.message-modal .body{
    /* width: 25rem; */
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(3px);
    align-items: center;
    justify-content: center;
    height:fit-content;
    padding:  1.4rem;
    box-sizing: border-box;
    border-radius: 10px;
}
.message-modal .del{
    background-color: rgba(255, 0, 0, 0.644);
    border: 1px solid rgb(255, 51, 51);
}
.message-modal .body h3{
    color: white;
    letter-spacing: 2px;
    user-select: none;
}
.message-modal .body div:nth-child(2){
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: right;
    margin-top: 0.9rem;
    gap: 1rem;
    box-sizing: border-box;
}
.message-modal .body div:nth-child(2) button{
    border: none;
    font-size: 1rem;
    background-color: transparent;
    /* font-weight: bold; */
}
.message-modal .body div:nth-child(2) button:hover{
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-color: rgb(208, 255, 0);
    transition: 0.6s;
}
.message-modal .body div:nth-child(2) button p{
    font-weight: 600;
    letter-spacing: 2px;
}
.message-modal .body div:nth-child(2) button:nth-child(1){
    color: rgb(42, 42, 42);
}
.message-modal .body div:nth-child(2) button:nth-child(2){
    color: rgb(238, 238, 238);
}


/* LISTED MAIN */
.listed-main{
    /* background-color: aqua; */
    padding:0 0.7rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    justify-content: space-between;
}
.listed-main .header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.listed-main .header > div {
    width: 20rem;
    border-radius: 10PX;
    box-shadow: 0px 0px 10px 2px rgba(124, 124, 124, 0.438);
    height: 7rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
}

.listed-main .header > div h2{
    font-size: 1.4rem;
    color: rgb(238, 238, 238);
}
.listed-main .header > div > div{
    display: flex;
    margin-top: 0.5rem;
    justify-content: space-between;
    align-items: center;
}
.listed-main .header > div > div p{
    font-size: 1.5rem;
    color: white;
}
.listed-main .header > div > div #card-icon{
    font-size: 2rem;
    color: rgb(216, 142, 3);
}
.listed-main .header > div > div #card-icon-3{
    font-size: 2rem;
    color: rgb(255, 0, 55);
}
.listed-main .header > div:hover{
    cursor: pointer;
    box-shadow: 0px 0px 12px 2px rgba(124, 123, 123, 0.737);
    transition: 0.6s;
}
.listed-main .header > div:nth-child(1){
    background-color: #fdab1d7c;
    border: 1px solid #fdab1dc6;
}
.listed-main .header > div:nth-child(2){
    background-color: #6975fe68;
    border: 1px solid #6975feaf;
}
.listed-main .header > div:nth-child(3){
    background-color: #ff898794;
    border: 1px solid #ff8987d2;
}
.listed-main .container{
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    overflow: auto;
}
.listed-main .head {
    margin: 1rem 0;
    display: flex;
    align-items: center;
}
.listed-main .head > div:nth-child(1){
    width: 85%;
}
.listed-main .head > div:nth-child(2){
    display: flex;
    justify-content: center;
    width: 15%;
}
.listed-main .head .categories-bar > div:nth-child(1){
    /* background-color: red; */
    width: 60%;
    max-width: 60%;
    /* overflow-x: scroll; */
}
.listed-main .head .categories-bar > div:nth-child(2){
    /* background-color: green; */
    width: 40%;
    max-width: 40%;
}
 .container .table{
    max-height: 100%;
    overflow: auto;
}
 .container .table table{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.589);
    width: 100%;
}
 .container .table thead tr td:nth-child(1){
    width: 2rem;
}
 .container .table thead tr td:nth-child(2){
    width: 4rem;
}
 .container .table thead tr td{
    padding: 0.5rem;
    cursor: pointer;
}
 .container .table thead tr td p{
    font-size: 1.2rem;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
 .container .table tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.596);
}
 .container .table tbody tr td{
    padding: 0.7rem 0.5rem;
}
 .container .table tbody tr td:nth-child(8) {
    width: 10rem;
}
 .container .table tbody tr td:nth-child(8) #table-action{
    /* background-color: red; */
    font-size: 1.2rem;
    margin: 0 0.4rem;
}
.delete-icon{
    color: rgb(255, 104, 104);
}
.delete-icon:hover{
    color: rgb(255, 0, 0);
    cursor: pointer;
}
.edit-icon{
    color: rgb(80, 156, 255);
}
.edit-icon:hover{
    color: rgb(0, 110, 255);
    cursor: pointer;
}
.time-icon{
    color: rgba(254, 191, 72, 0.858);
}
.time-icon:hover{
    color: rgb(251, 163, 0);
    cursor: pointer;
}
.sell-icon{
    color: rgba(88, 66, 255, 0.811);
}
.sell-icon:hover{
    color: rgb(30, 0, 255);
    cursor: pointer;
}
.show-icon{
    color: rgb(47, 202, 60);
}
.show-icon:hover{
    color: rgb(25, 164, 0);
    cursor: pointer;
}
.listed-main .container .table tbody tr td select{
    border: none;
}


/* ADD NEW ITEM */
.add-new-item{
    padding:0 0.7rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
}
.add-new-item .head {
    padding: 0.4rem 1rem;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.336);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add-new-item .head p{
    font-size: 0.8rem;
    color: rgb(97, 97, 97);
    user-select: none;
    cursor: pointer;
}
.add-new-item .head div:nth-child(1) p{
    font-size: 1.2rem;
    color: rgb(71, 71, 71);
    font-weight: 600;
    cursor: pointer;
}
.add-new-item .head div{
    display: flex;
    align-items: center;
}
.add-new-item .head div img{
    width: 30px;
    height: 30px;
    margin-right: 1rem;
    border-radius: 50%;
}
.add-new-item .container{
    /* background-color: rgba(234, 234, 234, 0.297); */
    height: 100%;
    max-height: 100%;
    overflow: auto;
    border-radius: 20px;
    padding:0.7rem 0;
    margin: 0.6rem 0;
    display: flex;
    flex-direction: column;
}
.add-new-item .container > div{
    margin: 0.5rem 0;
}
.add-new-item .container > div label{
    font-size: 1.2rem;
    color: rgba(55, 55, 55, 0.768);
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}
.input-field-full{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.add-more > div {
    display: flex;
    align-items: center;
}
.add-more > div > input[type='text']{
    width: 100%;
    margin-bottom: 1.3rem;
}
#add-more{
    color: rgb(0, 81, 255);
    margin-left: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.input-field-half{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.input-field-multi{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}
.input-field-multi > div {
    display: flex;
    width: 23.5%;
    flex-wrap: wrap;
    flex-direction: column;
}
.input-field-half > div{
    display: flex;
    width: 48%;
    flex-direction: column;
}
.add-new-item .container footer{
    display: flex;
    margin-top: 1rem;
    align-items: center;
    gap: 1rem;
    justify-content: right;
}
.add-new-item .container footer button{
    padding: 0.6rem 1.3rem;
    font-size: 1rem;
}
.add-new-item .container footer button:nth-child(3){
    background-color: #6A9CFD;
}
.add-new-item .container footer button:nth-child(2){
    background-color: #6bcdfe;
}
.add-new-item .container footer button:nth-child(1){
    background-color: #ff2323c4;
}
.add-new-item .container footer button:nth-child(1):hover{
    background-color: #fb1a1a;
    transition: 0.6s;
}


/* DRAFT MAIN UI */
.draft-main{
    padding:0 0.7rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
}
.draft-main .container{
    height: 100%;
    max-height: 100%;
    overflow: auto;
}
.draft-main .head{
    margin-bottom: 0.5rem;
}
.draft-main .head h2{
    color: #4f4f4f;
    letter-spacing: 1.5px;
    font-size: 1.4rem;
}


/* ORDERS MAIN  */
.orders-main{
    padding: 0 0.7rem;
    height: 100%;
    max-height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.orders-main .head{
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.266);
    flex-direction: column;
}
.orders-main .head > div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.orders-main .head > div:nth-child(1) h2{
    display: flex;
    align-items: center;
}
.orders-main .head p{
    margin-top: 1rem;
    line-height: 28px;
    letter-spacing: 1.9px;
}
.categories-bar{
    display: flex;
    margin: 1rem 0;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    border-radius: 15px;
}
.categories-bar > div {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.categories-bar > div:nth-child(1){
    width: 60%;
    padding-right: 2.5rem;
    box-sizing: border-box;
    overflow: auto;
    max-width: 60%;
}
.categories-bar > div:nth-child(2){
    width: 40%;
    position: relative;
}
.categories-bar > div:nth-child(2) .shadow-div{
    /* background-color: red; */
    cursor: pointer;
    border-radius: 5px;
    backdrop-filter: blur(1.5px) brightness(1);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.079), rgba(232, 231, 231, 0.862));
    position: absolute;
    left: -3.5rem;
    width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}
.categories-bar > div:nth-child(2) .shadow-div span{
    color: rgb(107, 107, 107);
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}
.categories-bar .toogle {
    background-color: rgba(162, 162, 162, 0.319);
    padding: 0.3rem 1rem;
    white-space: nowrap;
    user-select: none;
    color: rgb(61, 59, 59);
    border-radius: 10px;
}
.categories-bar .toogle:hover {
    cursor: pointer;
}
.categories-bar .active {
    background-color: rgba(255, 255, 255, 0.811);
    padding: 0.3rem 1rem;
    border-radius: 10px;
    color: rgb(66, 65, 65);
}

.categories-bar .active:hover {
    cursor: pointer;
    color: black;
    background-color: white;
    transition: 0.6s;
}
/* .categories-bar > div:nth-child(1){
    width: 60%;
}
.categories-bar > div:nth-child(2){
    width: 40%;
} */
.orders-main .container{
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    overflow: auto;
}
.payment-color{
    font-weight: 600;
    width: fit-content;
}